.mainImage {
  width: 100%;
  border: solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeInMainImage 3s ease-in-out forwards;
}

@keyframes fadeInMainImage {
  to {
    opacity: 1; /* Termina completamente visible */
  }
}

.mainGif {
  width: 100%;
  margin-left: -22px;
}

.mainText {
  color: black;
  padding: 25px 25px;
  border-radius: 5px;
  font-size: 28px;
  text-align: center;
  background-color: rgba(239, 255, 255, 0.589);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8), -1px 0px 4px rgba(0, 0, 0, 0.4);
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  opacity: 0;
  animation: fadeInMainImage 4s ease-in-out forwards;
}

.imgOval {
  border-radius: 50% / 50%; /* Hace que la imagen sea ovalada */
  border: 5px solid white; /* Borde blanco */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera en los bordes */
  padding: 0 0;
  margin: 1rem 1rem;
  overflow: hidden;

  opacity: 0;
  transition: opacity 1.5s ease;
}

.imgOval img {
  object-fit: cover; /* Asegura que la imagen se ajuste bien en el contenedor */
  width: 100%;
  height: 100%;

  transform: scale(1.4);
  transition: transform 3s ease-in-out;
}

.imgRect {
  border: 5px solid white; /* Borde blanco */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera en los bordes */
  padding: 0 0;
  margin: 1rem 1rem;
  overflow: hidden;

  opacity: 0;
  transition: opacity 1.5s ease;
}

.imgRect img {
  object-fit: cover; /* Asegura que la imagen se ajuste bien en el contenedor */
  width: 100%;
  height: 100%;

  transform: scale(1.4);
  transition: transform 3s ease-in-out;
}

.boxInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px rgba(253, 217, 203, 1),
    8px 8px 0px 0px rgba(253, 217, 203, 1);
  text-align: center;
  font-size: 13px;
  width: 100%;
  padding: 0.5em 0.5em;
  margin: 1rem 5rem;
  min-width: 15rem;
  font-family: "Cinzel Decorative", serif;
  /* max-width: 25rem; */

  color: #605e5e;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.8) 72%,
    rgba(228, 226, 226, 0.8) 100%
  );
}

#container {
  min-height: 150px;
}
#container svg {
  min-height: 150px;
}

@media (min-width: 576px) {
  .parallax {
    width: 15%;
  }
  .card {
    font-size: 40px;
  }
  .mainText {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .parallax {
    width: 8%;
  }
  .card {
    font-size: 40px;
  }
  .boxInfo {
    font-size: 20px;
  }
  .boxInfo.izq {
    margin-right: 1rem;
    margin-left: 6rem;
  }
  .boxInfo.der {
    margin-left: 1rem;
    margin-right: 6rem;
  }
}

@media (min-width: 992px) {
  .parallax {
    width: 8%;
  }
  .mainText {
    font-size: 40px;
  }
  .boxInfo.izq {
    margin-left: 8rem;
  }
  .boxInfo.der {
    margin-right: 8rem;
  }
}

@media (min-width: 1200px) {
  .parallax {
    width: 10%;
  }
  .boxInfo.izq {
    margin-left: 12rem;
  }
  .boxInfo.der {
    margin-right: 12rem;
  }
}
